.pod{
    color: rgb(138, 72, 138);
}
.btn{
    background-color: rgb(149, 76, 149);
    
}
.btn:hover{
    background-color:blueviolet
}
@media (max-width:768px) {
  .pic{
    /* width: 300px; */
  }
    
}